.swipeable {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 12px;
}

.swipeable__action-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.swipeable__action-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
}

.swipeable__content {
  position: relative;
  width: 100%;
  background-color: transparent; /* Оставляем цвет на откуп children */
  transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.swipeable__content--swiped {
  transform: translateX(-100px);
}
